* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.navbar {
    background-color: #fefefe;
    overflow: hidden;
    width: 100%;
}

.navbar a {
    font-size: 20px;
}

.navbar a.logo {
    float: left;
    display: block;
    color: rgb(3, 1, 1);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar .nav-links {
    float: right;
    list-style-type: none;
    position: relative;
    bottom: 20px;
    margin: 0;
    padding: 0;
}

.navbar .nav-links li {
    float: left;
}

.navbar .nav-links li a {
    display: block;
    color: rgb(5, 5, 5);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar .nav-links li a:hover {
    background-color: #170f0f;
    color: rgb(255, 255, 255);
}

.logo img {
    position: relative;
    top: 25px;
    left: 20px;
    height: 40px;
    width: auto;
    margin-left: 20px;
}

.imgd {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.imgd img {
    width: 100%;
    height: auto;
    display: block;
}

@media only screen and (max-width: 600px) {
    .navbar a {
        font-size: 7px;
        margin-right: 0px;
    }
}


.contact-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    gap: 25px;
}

.contact-list li {
    flex-direction: column;
    list-style-type: none;
    margin-bottom: 10px;
    text-align: center;
}

.contact-list strong {
    font-weight: bold;
    width: 100px;
}

.contact-list a {
    display: inline-block;
    margin-left: 10px;
}

@media only screen and (max-width: 500px) {
    .contact-list li {
        font-size: 20px;
    }
}