* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.navbar {
    background-color: #fefefe;
    margin-right: 0px;
    overflow: hidden;
    width: 100%;
}

.navbar a {
    font-size: 20px;
}

.navbar a.logo {
    float: left;
    display: block;
    color: rgb(3, 1, 1);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar .nav-links {
    float: right;
    list-style-type: none;
    position: relative;
    bottom: 20px;
    margin: 0;
    padding: 0;
}

.navbar .nav-links li {
    float: left;
}

.navbar .nav-links li a {
    display: block;
    color: rgb(5, 5, 5);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar .nav-links li a:hover {
    background-color: #170f0f;
    color: rgb(255, 255, 255);
}

.logo img {
    position: relative;
    top: 25px;
    left: 20px;
    height: 40px;
    width: auto;
    margin-left: 20px
}

@media only screen and (max-width: 836px) {
    .navbar a {
        font-size: 8px;
        margin-right: 0px;
    }
}

.imgd {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.imgd img {
    width: 100%;
    height: auto;
    display: block;
}

.content {
    top: 600px;
    margin-right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(49, 112, 112);
}

.content>p {
    padding: 20px;
    margin: 10px;
}

.container {
    padding: 20px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container ul li a img {
    height: 250.17px;
    width: 150.5px;
}

.image-list {
    list-style-type: none;
    padding: 20px;
    margin: 10px;
    display: flex;
    gap: 70px;
}

.image-list-item {
    display: inline-block;
    width: 25%;
    text-align: center;
    font-size: 12px;
    margin-bottom: 5px;
    text-decoration: none;
}

.image-list-item img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    width: 100%;
    height: auto;
}

.image-name {
    color: rgb(49, 112, 112);
    text-decoration: none;
    /* Remove the line below the image names */
    border-bottom: none;
}

.New {
    background-color: grey;
}

.word {
    color: rgb(18, 13, 13);
    font-size: 12px;
    text-decoration: dotted white;
}

@media only screen and (max-width: 836px) {
    .imgd {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .content {
        top: 600px;
        display: flex;
        flex-direction: column;
        font-size: 10px;
        justify-content: center;
        align-items: center;
        color: rgb(49, 112, 112);
    }

    .content>p {
        padding: 20px;
        margin: 10px;
    }

    .container {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
        columns: 1;
        column-gap: 10px;
    }

    .container ul li a img {
        height: 122.17px;
        width: 69.5px;
    }

    .image-list {
        padding: 30px;
        margin: -43px;
        gap: 10px;
    }

    .image-list-item {
        display: flex;
        width: 25%;
        font-size: 10px;
    }

    .image-list-item img {
        width: 100%;
        height: auto;
    }

    .image-name {
        color: rgb(49, 112, 112);

        /* Remove the line below the image names */
        border-bottom: none;
    }
}


/* Style the container */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Style the button that will be used to open and close the dropdown */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}