* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.navbar {
    background-color: #fefefe;
    margin-right: 0px;
    overflow: hidden;
    width: 100%;
}

.navbar a {
    font-size: 20px;
}

.navbar a.logo {
    float: left;
    
    display: block;
    color: rgb(3, 1, 1);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar .nav-links {
    float: right;
    list-style-type: none;
    position: relative;
    bottom: 20px;
    margin: 0;
    padding: 0;
}

.navbar .nav-links li {
    float: left;
}

.navbar .nav-links li a {
    display: block;
    color: rgb(5, 5, 5);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar .nav-links li a:hover {
    background-color: #170f0f;
    color: rgb(255, 255, 255);
}

.logo img {
    position: relative;
    top: 25px;
    left: 20px;
    height: 40px;
    width: auto;
    margin-left: 20px
}
@media only screen and(max-width: 496px){
    .navbar a{
        font-size: 10px;
        /* margin-right: 0px; */
    }
}
.imgp img{
    width: 100%;
    height: 112px;
}
.pro{
    margin: 25px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* text-decoration: none; */
    align-items: center;
    flex-wrap: wrap;
}
.pro-max{
    list-style-type: none;
    
}
.pro-max a { 
    display: inline-block;
    color: black;
    text-decoration: none;
    text-align: center;

}
.pro-max1{
    margin: 30px;
}

.pro img{
    width: 170px;
    height: 170px;
}

.button{
    font-size: small;
    cursor: pointer;
}